[submodule "mdo/resources/lib"]
	path = mdo/resources/lib
	url = https://github.com/OSEHRA/mdo-deps.git
[submodule "mdo-test/resources/lib"]
	path = mdo-test/resources/lib
	url = https://github.com/OSEHRA/mdo-test-deps.git
